**Support Vector Machine**

In [1]:
from sklearn import datasets
import numpy as np
import time
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import svm

In [2]:
# Loading credit card dataset
data = pd.read_csv("10kcc.csv")

In [3]:
data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,14997,1.057155,0.495355,1.212903,2.548761,-0.105953,0.562292,-0.414434,0.135318,0.412228,...,0.089113,0.515654,-0.053050,-0.014731,0.340114,0.066419,0.003253,0.014148,17.44,0
9995,15001,1.178755,0.596025,0.074131,2.542393,0.450685,-0.179355,0.326365,-0.234949,0.473040,...,-0.228112,-0.561559,-0.182781,-0.523241,0.667142,0.015699,-0.067238,0.008709,53.19,0
9996,15004,1.228455,0.049488,1.022099,0.386471,-0.973228,-1.067822,-0.383162,-0.205407,1.699304,...,-0.322912,-0.730294,0.205601,0.686302,-0.071008,0.729846,-0.092276,0.012277,12.18,0
9997,15008,-0.971734,0.744625,2.334822,-0.408046,-0.999231,-0.629294,-0.377212,0.481230,1.599496,...,-0.116821,-0.141219,-0.026115,0.712719,-0.372964,0.750323,-0.107875,0.031272,4.05,0
9998,15010,-1.529666,1.475870,1.507624,-0.662935,-1.037152,-1.159860,-0.303219,0.745766,0.946896,...,-0.197993,-0.634088,0.100631,0.669449,-0.269750,0.611964,-0.169789,0.007846,4.05,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    9999 non-null   int64
 1   V1      9999 non-null   float64
 2   V2      9999 non-null   float64
 3   V3      9999 non-null   float64
 4   V4      9999 non-null   float64
 5   V5      9999 non-null   float64
 6   V6      9999 non-null   float64
 7   V7      9999 non-null   float64
 8   V8      9999 non-null   float64
 9   V9      9999 non-null   float64
 10  V10     9999 non-null   float64
 11  V11     9999 non-null   float64
 12  V12     9999 non-null   float64
 13  V13     9999 non-null   float64
 14  V14     9999 non-null   float64
 15  V15     9999 non-null   float64
 16  V16     9999 non-null   float64
 17  V17     9999 non-null   float64
 18  V18     9999 non-null   float64
 19  V19     9999 non-null   float64
 20  V20     9999 non-null   float64
 21  V21     9999 non-null   float64
 22  V22     9999 non-null   float64
 23  V23     9999 non-null   float64
 24  V24     9999 non-null   float64
 25  V25     9999 non-null   float64
 26  V26     9999 non-null   float64
 27  V27     9999 non-null   float64
 28  V28     9999 non-null   float64
 29  Amount  9999 non-null   float64
 30  Class   9999 non-null   int64
dtypes: float64(29), int64(2)
memory usage: 2.4 MB

In [5]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
data.shape

(9999, 31)

In [7]:
# Loading the features and storing them in X
X = data.iloc[:, 0:30]
# Loading the labels and storing them in y
y = data["Class"]

In [18]:
## Train = 60 % , Test = 20 % , Train = 20 %
X_train, X_test, X_validation = np.split(X, [int(.7 * len(X)), int(.8 * len(X))])
Y_train, Y_test, Y_validation = np.split(y, [int(.7 * len(y)), int(.8 * len(y))])

In [20]:
from sklearn.svm import LinearSVC
## Creating the svm object
clf = LinearSVC(random_state=0)
# Intilizing the time object
t0 = time.time()
t1 = time.time()
## Fitting the data into the trained model
clf.fit(X_train, Y_train)
print("Training time is ", round(time.time() - t0, 3),  "seconds")

Training time is  0.056 seconds

C:\Users\vedan\anaconda3\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [21]:
# Testing the data on the trained model
y_pred = clf.predict(X_test)
print("Testing time is ", round(time.time() - t1, 3),  "seconds")

Testing time is  0.649 seconds

In [22]:
accuracy_score(Y_test,y_pred)

1.0

In [23]:
# Creating the svm object
clf = svm.SVC(kernel='rbf', gamma=0.7)
# Creating the time object
t0 = time.time()
t1 = time.time()
# Fitting the data into the model
clf.fit(X_train, Y_train)
#Calculating the training time
print("Training time is ", round(time.time() - t0, 3),  "seconds")

Training time is  2.624 seconds

In [24]:
#testing the data on the trained model
y_pred = clf.predict(X_test)
# Calculating the testing time
print("Testing time is ", round(time.time() - t1, 3),  "seconds")

Testing time is  3.632 seconds

In [25]:
accuracy_score(Y_test,y_pred)

1.0

In [26]:
# Creating the svm object
clf = svm.SVC(kernel='poly', degree=3)
# Creating the time object
t0 = time.time()
t1 = time.time()
# Fitting the data into the model
clf.fit(X_train, Y_train)
# Calculating the training time
print("training time is ", round(time.time() - t0), "seconds")

training time is  2 seconds

In [27]:
# Testing the data on the trained model
y_pred = clf.predict(X_test)
# Calculating the testing time
print("testingtime is ", round(time.time() - t1), "seconds")

testingtime is  2 seconds

In [28]:
accuracy_score(Y_test,y_pred)

1.0